<!DOCTYPE html>

<html>
    <head>
        <title>page4 카페 </title>
        <meta charset="utf-8"> 
        <link href="../css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Nanum+Gothic&family=Sunflower:wght@300;500&display=swap" rel="stylesheet">
    </head>


    <body>
        <h1>유명한 카페</h1>
        
        <div class="item">
            <h2 class="title"> 용마 커피</h2>
            <img class="photo" src = "/yongma.jpg" height= 300>
            <p class= "explain">용마 커피는 달고나 라떼와 쑥라떼로 유명한 샤로수길 카페이다.</p>
                
        </div>
        <div class= "item">
            <h3 class="title">피기스 페이보릿</h3>
            <img class="photo" src = "/piggys.JPG" height =300>
            <p class="explain">피기스 페이보릿은 디저트가 맛있기로 유명한 카페이다. 대표 디저트류는 애플 파이이다. </p>
            
        </div>

        <div class="index">
            <%= link_to 'main', "/main/main"%><span class="right-margin"></span>
            <%= link_to '1', "/pages/page1"%><span class="right-margin"></span>
            <%= link_to '2', "/pages/page2"%><span class="right-margin"></span>
            <%= link_to '3', "/pages/page3"%><span class="right-margin"></span>
            <%= link_to '4', "/pages/page4"%><span class="right-margin"></span>
            <%= link_to 'reviews', "/post/index"%><span class="right-margin"></span>
            
        </div>
        
        <fieldset>
            <legend>Write Reviews</legend>
            <form action="/post/create">
                <label>Restaurant</label>
                <input type="text" name="restaurant"/><br>
                
                <label>Content</label>
                <textarea name="contents"></textarea>
                <br>
                <input type="submit" value="submit"/>
            </form>
        </fieldset>
       

    </body>

</html>
